<template>
  <button @click="disparaAcao()" class="btn botao" :class="estiloDoBotao" :type="type">{{rotulo}}</button>
</template>

<script>
export default {
  props: {
    type: {
      required: true,
      type: String
    },
    rotulo: {
      required: true,
      type: String
    },
    confirmacao: Boolean,
    estilo: String
  },

  methods: {
    disparaAcao() {
      if (this.confirmacao) {
        if (confirm("Confirma a operação ? ")) {
          this.$emit("botaoAtivado");
        }
        return;
      }
      this.$emit("botaoAtivado");
    }
  },

  computed: {
    estiloDoBotao() {
      if (this.estilo == "padrao" || !this.estilo || this.estilo == "")
        return "botao-padrao";
      if (this.estilo == "perigo") return "botao-perigo";
      return "botao";
    }
  }
};
</script>


<style scoped lang="scss">
@import "./Botao.scss";
</style>