<template>
  <nav>
    <ul>
      <li v-for="(rota,i) in rotas" v-bind:key="i">
        <router-link :to="rota.path">{{rota.titulo}}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    rotas: {
      required: true,
      type: Array
    }
  }
};
</script>

<style scoped>
</style>