<template>
  <div>
    <h1 class="centralizado">{{ title }}</h1>
    <p v-show="mensagem" class="centralizado">{{mensagem}}</p>

    <input
      type="search"
      class="filtro"
      @input="filtro = $event.target.value"
      placeholder="filtre pelo título"
    />

    <ul class="lista-fotos">
      <li class="lista-fotos-item" v-for="foto of fotosComFiltro" v-bind:key="foto.id">
        <meu-painel :titulo="foto.titulo">
          <imagem-responsiva
            v-meu-transform:scale.animate="1.2"
            :url="foto.url"
            :titulo="foto.titulo"
          />

          <router-link :to="{name:'alterar', params:{id:foto._id}}">
            <meu-botao type="button" rotulo="Alterar" />
          </router-link>

          <meu-botao
            type="button"
            rotulo="Remover"
            :confirmacao="true"
            estilo="perigo"
            @botaoAtivado="remove(foto)"
          />
        </meu-painel>
      </li>
    </ul>
  </div>
</template>

<script>
import Painel from "../shared/painel/Painel";
import ImagemResponsiva from "../shared/imagem-responsiva/imagemResponsiva";
import Botao from "../shared/botao/Botao";
import FotoService from "../../domain/foto/FotoService";

export default {
  components: {
    "meu-painel": Painel,
    "imagem-responsiva": ImagemResponsiva,
    "meu-botao": Botao
  },

  data() {
    return {
      title: "Vue Application",
      fotos: [],
      filtro: "",
      mensagem: ""
    };
  },

  methods: {
    remove(foto) {
      this.service.apaga(foto._id).then(
        () => {
          let indice = this.fotos.indexOf(foto);
          this.fotos.splice(indice, 1);
          this.mensagem = "Foto removida com sucesso!";
        },
        err => {
          this.mensagem = err.message;
        }
      );
    }
  },

  created() {
    this.service = new FotoService(this.$resource);
    this.service.lista().then(
      fotos => {
        this.fotos = fotos;
      },
      err => {
        this.mensagem = err.message;
      }
    );
  },
  computed: {
    fotosComFiltro() {
      if (this.filtro) {
        let exp = new RegExp(this.filtro.trim(), "i");
        return this.fotos.filter(foto => exp.test(foto.titulo));
      }
      return this.fotos;
    }
  }
};
</script>

<style>
.centralizado {
  text-align: center;
}

.lista-fotos {
}

.filtro {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.lista-fotos .lista-fotos-item {
  list-style: none;
  display: inline-block;
}
</style>
