<template>
  <div>
    <h1 class="centralizado">Cadastro</h1>
    <h2 class="centralizado">{{foto.titulo}}</h2>

    <h2 class="centralizado" v-if="foto._id">Alterando</h2>
    <h2 class="centralizado" v-else>Incluindo</h2>

    <form @submit.prevent="grava()">
      <div class="controle">
        <label for="titulo">TÍTULO</label>
        <input
        class="form-control"
          data-vv-as="título"
          name="titulo"
          v-validate
          data-vv-rules="required|min:3|max:30"
          id="titulo"
          autocomplete="off"
          v-model="foto.titulo"
        />
        <span class="error" v-show="errors.has('titulo')">{{ errors.first('titulo' ) }}</span>
      </div>

      <div class="controle">
        <label for="url">URL</label>
        <input
        class="form-control"
          name="image"
          v-validate
          data-vv-rules="required"
          id="url"
          autocomplete="off"
          v-model="foto.url"
        />
        <imagem-responsiva v-show="foto.url" :url="foto.url" :titulo="foto.titulo" />
        <span class="error" v-show="errors.has('image')">{{ errors.first('image') }}</span>
      </div>

      <div class="controle">
        <label for="descricao">DESCRIÇÃO</label>
        <textarea id="descricao" class="form-control" autocomplete="off" v-model="foto.descricao"></textarea>
      </div>

      <div class="centralizado">
        <meu-botao rotulo="GRAVAR" type="submit" />
        <router-link :to="{name:'home'}">
          <meu-botao rotulo="VOLTAR" type="button" />
        </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import imagemResponsiva from "../shared/imagem-responsiva/imagemResponsiva";
import Botao from "../shared/botao/Botao";
import Foto from "../../domain/foto/Foto";
import FotoService from "../../domain/foto/FotoService";

export default {
  components: {
    "imagem-responsiva": imagemResponsiva,
    "meu-botao": Botao
  },

  data() {
    return {
      foto: new Foto(),
      id: this.$route.params.id
    };
  },

  methods: {
    grava() {
      this.$validator.validateAll().then(success => {
        if (success) {
          this.service.cadastrar(this.foto).then(
            () => {
              if (this.id) this.$router.push({ name: "home" });
              this.foto = new Foto();
            },
            err => console.log(err)
          );
        }
      });
    }
  },
  created() {
    this.service = new FotoService(this.$resource);

    if (this.id) {
      this.service.buscar(this.id).then(foto => (this.foto = foto));
    }
  }
};
</script>


<style scoped>
.centralizado {
  text-align: center;
}
.controle {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.controle label {
  display: block;
  font-weight: bold;
}

.controle label + input,
.controle textarea {
  width: 100%;
  font-size: inherit;
  border-radius: 5px;
}

.centralizado {
  text-align: center;
}

.error {
  color: red;
}
</style>