<template>
  <img class="imagem-responsiva" :src="url" :alt="titulo" />
</template>


<script>
export default {
  props: {
    url: {
      required: true,
      type: String
    },
    titulo: {
      type: String
    }
  }
};
</script>


<style scoped>
.imagem-responsiva {
  width: 90%;
  margin: 0px auto;
}
</style>