<template>
  <div class="corpo">
    <meu-menu :rotas="routes" />
    <transition name="pagina">
      <router-view class="container"></router-view>
    </transition>
  </div>
</template>

<script>
import { routes } from "./routes";
import Menu from "./components/shared/menu/Menu";

export default {
  components: {
    "meu-menu": Menu
  },
  data() {
    return {
      routes: routes.filter(router => router.menu)
    };
  }
};
</script>



<style>
.corpo {
  font-family: Helvetica, sans-serif;
  margin: 0px auto;
}

.pagina-enter,
.pagina-leave-active {
  opacity: 0;
}

.pagina-enter-active,
.pagina-leave-active {
  transition: opacity 0.3s;
}
</style>
